:root{
  --O-color: rgb(10, 177, 243);
  --X-color: rgb(253, 148, 148);
  --E-color: rgb(0, 0, 0);
}

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;

  font-family: grenze;
  height: 100vh;
  background-color: rgb(153, 153, 153);
}

.NextPlayer{
  font-family: grenze;
  font-weight: bold;

  color: rgb(60, 62, 63);
  border: 1px solid rgb(211, 223, 104);
  border-radius: 4px;
  box-shadow: 3px 5px 12px rgb(0, 0, 0);
  position: absolute;
  height: 40vwin;
  left: 63%;
  top: 16%;
  margin-left: -20vwin;
}
  
  .player{
    font-family: grenze;
    font-weight: bold;
  
    color: rgb(60, 62, 63);
    border: 1px solid rgb(211, 223, 104); 
    border-radius: 4px;
    box-shadow: 3px 5px 12px rgb(0, 0, 0);
    position: absolute;
    height: 40vwin;
    left: 30%; 
    top: 12%;
    margin-left: -20vwin; 
    width: 85px;
    height: 60px;

  }

.title {
  text-align: center;
  font-size: 3rem; 
  color: rgb(60, 62, 63);
  margin-bottom: 2rem; 
  border: none;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 248px);
  grid-template-rows: repeat(3, 200px);
  gap: 1rem;
  cursor: pointer;
}
.board.game-over{
  opacity: 0.10;
}

.cell {
  display: grid;
  align-items: center;
  justify-content: center;


  background-color: white;
  border-radius: 5px;
  font-size: 3rem;
  font-weight: bold;
  color: #00000066;
}

.cell:not(.O):not(.X):hover {
  box-sizing: 0 20px 25px -5px rgba(0, 0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0, 0.4);
}

.cell.O, .cell.X, .game-over .cell {
  cursor: not-allowed;
}

.cell.O {
  background-color: var(--O-color);
}

.cell.X {
  background-color: var(--X-color);
}

footer{
  text-align: center;
  font-size: 40px;
}

.winner-message{
  margin: 2rem;
}

.winner-message span.O{
  color: var(--O-color);
}

.winner-message span.X{
  color: var(--X-color);
}

.winner-message span.E{
  color: var(--E-color);

}
button {
  padding: 0.9rem 1.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0, 0.6);
  background-color: rgb(68, 255, 146);
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}