:root{
  --O-color: rgb(10, 177, 243);
  --X-color: rgb(253, 148, 148);
  --E-color: rgb(0, 0, 0);
}

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;

  font-family: grenze;
  height: 100vh;
  background-color: rgb(153, 153, 153);
}

.nextPlayer{
  color: rgb(60, 62, 63);
  border: 1px solid rgb(211, 223, 104); 
  box-shadow: 3px 5px 12px rgb(0, 0, 0); 
} 

.players {
  color: rgb(60, 62, 63);
  border: 1px solid rgb(211, 223, 104); 
  box-shadow: 3px 5px 12px rgb(0, 0, 0);
  height: 55px;
  display: flex;
  flex-direction: column; 
  justify-content: space-evenly;
  }

.player{
  display: flex; 
  } 

.topo {
  display: flex; 
  flex-direction: row;
  align-items: center; 
  justify-content: space-evenly;
  margin-bottom: 20px;  
  }

.topo .players, .topo .nextPlayer {
  font-family: grenze;
  font-weight: bold; 
  border-radius: 4px;
}

.title {
  font-size: 3rem; 
  color: rgb(60, 62, 63);
  margin-bottom: 0;
} 

.board {
  display: grid; 
  grid-template-columns: repeat(3, 178px);
  grid-template-rows: repeat(3, 130px);
  gap: 1rem;
  cursor: pointer;
}

.board.game-over{
  opacity: 0.10;
}

.cell {
  display: grid;
  align-items: center;
  justify-content: center;


  background-color: white;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: bold;
  color: #00000066;
}

.cell:not(.O):not(.X):hover {
  box-sizing: 0 20px 25px -5px rgba(0, 0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0, 0.4);
}

.cell.O, .cell.X, .game-over .cell {
  cursor: not-allowed;
}

.cell.O {
  background-color: var(--O-color);
}

.cell.X {
  background-color: var(--X-color);
}

footer{
  text-align: center;
  font-size: 30px;
}

.winner-message{
  margin: 1rem;
}

.winner-message span.O{
  color: var(--O-color);
}

.winner-message span.X{
  color: var(--X-color);
}

.winner-message span.E{
  color: var(--E-color);

}
button {
  padding: 0.9rem 1.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0, 0.6);
  background-color: rgb(68, 255, 146);
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}


@media only screen and (max-width: 767px) and (orientation:portrait) {
  body {
    width: 100%; 
    text-align: justify;
  }

   .board{
    grid-template-columns: repeat(3, 88px);
    grid-template-rows: repeat(3, 80px);

  }

   button {
    font-size: 10px;
  }

  .cell {
    border-radius: 3px;
    font-size: 1rem;
  }

  footer {
    font-size: 13px;   
  }

  .title {
    font-size: 1.5rem;
    padding: 0.6em;
    transform: translateY(80%);
  }

  .topo{
    flex-direction: column;
  } 

  .players {
    height: 65px;
    width: 95px; 
    align-items: center; 
  }

  .nextPlayer{
    text-align: center; 
    height: 22px;
    width: 118px; 
    transform: translateY(-150%);
  }
  
} 

@media only screen and (max-width: 767px) and (orientation:landscape) {
  body {
    width: 100%;
    text-align: justify;

  }

  .board {
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(3, 60px);

  }

  footer {
    font-size: 0.8rem;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  button {
    font-size: 0.5rem;
  }

  .title {
    font-size: 0.8rem;
    
   
  }

  .players{
    height: 30px;
    width: 50px; 
    align-items: center; 
    font-size: 0.5rem;

  }

  .nextPlayer{
    text-align: center; 
    height: 14px;
    width: 60px; 
    font-size: 0.5rem;

  }

  .cell {
    border-radius: 3px;
    font-size: 0.8rem;
  }

}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  body {
    width: 100%;
    text-align: justify;
  }

} 

